/* Your styles here */
body img{
    max-width: 100%;
}

#conteiner{
    text-align: center;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.65em;
    font-size: 1.2rem;
}

#conteiner h1,h3,h2,a{
    font-family: 'Montserrat', sans-serif;
    color:#25a2c3;
    line-height: 1.5em;
}

 #header{
    background: #000;
    background-size: cover;
    padding-bottom: 50px;
    
 }

 #header img{
   height: 35%;
   width: 35%;
 }

 .sopra{
    background-image: url(../images/banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-size: larger;
    
 }

 .sopra h1{
    font-size: xx-large;
    text-align: center;
    line-height: 1.1em;
    margin-bottom: 15px;
 }

 .sopra p{
    margin-bottom: 40px;

 }

 .sopra a{
    background: #f04c2f;
    color: white;
    border-radius: 10px;
    border: none;
    padding: 10px;
 }

 .corpo h3{
    margin-top: 20px;
 }

 .corpo img{
    border-radius: 50%;
    width: 300px;
    height: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
 }

 .corpo-org{
    background-color: #e22d0e;
    color: white;
    margin-top: 20px;
 }

 .corpo-org h2{
    color: white;
    font-size: 30px;
    margin-bottom: 20px;
 }

 .corpo-org cite{
    margin-bottom: 20px;
    font-style: italic;
 }

 .corpo-org p{
    text-transform: uppercase;
    margin-top: 20px;
 }

 #aside{
    box-sizing: border-box;
    margin-top: 30px;

 }

 #aside img{
    background: contain;
    overflow: auto;
 }

 #aside .b1{
    border-style: solid;
    border-width: 1px;
    margin-bottom: 10px;
    border-color: #dee1e3;
    padding: 40px;
 }



 #aside .b2{
    border-style: solid;
    border-width: 1px;
    margin-bottom: 10px;
    border-color: #dee1e3;
    padding: 40px;
 }

 #aside .b3{
    border-style: solid;
    border-width: 1px;
    border-left-style:solid;
    border-right-style:solid;
    border-color: #dee1e3;
    padding: 40px;

    
 }

 #footer{
    background-color: #25a2c3;
    color: white;
    margin-top: 20px;
 }

 #footer h2{
    color: white;
    font-size: xx-large;
    margin-bottom: 20px;
 }

 #footer a{
    color: #c8e7f0;
 }

 #footer p{
   border-bottom: 1px solid;
 }
