.card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card{
  width: 500px;
}

  .logo-audi{
    margin-bottom: 30px;
    margin-top: 40px;
  }
  .logo-audi img{
    width: 250px;
  }

  .title{
    margin-top: 100px;
    background-color: #D4B6E0;
    width: 50%;
    font-size: 45px;
  }
