$Primary : #fff;
$Success : rgba(255, 255, 255, 0.623);

@import '../node_modules/bootstrap/scss/bootstrap.scss';

.contenitore {
    background-color: #141414;
    overflow-x: hidden;
    width: 100%;
}

.header {
    position: relative;

    .netflix-padding-left {
        padding-left: 57px;
    }

    & .netflix-padding-right {
        padding-right: 57px;
    }

    .netflix-navbar {
        z-index: 1000;
        transition: 0.2s linear;
        width: 100vw;
    }

    & .navbar-brand img {
        width: 100px;
    }

    & .netflix-row {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    & .netflix-row .left {
        width: max-content
    }

    & .netflix-row .right {
        width: max-content
    }

    & .netflix-dropdown-box {
        display: none;
    }

    & .netflix-dropdown {
        background-color: transparent;
        color: $Primary;
        border: none;
        font-size: 9px;
    }

    & .netflix-dropdown-box .dropdown-menu {
        background-color: rgba(0, 0, 0, 0.784);
        font-size: 9px;
        color: $Primary;
        margin-left: -80px;
        border-top: 3px solid $Primary;
        margin-top: 30px;
    }

    & .netflix-dropdown-box .dropdown-menu .dropdown-item {
        color: $Success;
        text-align: center;
        width: 250px;
        font-size: 15px;
        padding: 10px 20px;
    }

    & .netflix-dropdown-box .dropdown-menu .dropdown-item:hover {
        background-color: rgba(255, 255, 255, 0.133);
        color: $Primary;
    }


    & i {
        font-size: 20px;
        color: $Primary;
        padding: 5px 20px;
    }

    & .netflix-profile {
        border-radius: 4px;
        margin-left: 20px;
        cursor: pointer;
    }

    .netflix-nav {
        display: block;
        align-items: center;
    }

    & .netflix-nav button {
        background-color: transparent;
        color: $Success;
        border: none;
        font-size: 13px;
    }

    & .netflix-nav button:hover {
        color: $Primary;
    }

    & .bottone {
        background-color: transparent;
        color: $Success ;
        border: none;
        font-size: 13px;
    }

    & .bottone:hover {
        color: $Primary;
        cursor: pointer;
    }
}

.text-white {
    font-size: 30px;
}



#slider-box {
    .slider {
        top: 1000px;
        z-index: 500;
    }


    & .slider2 {
        top: 100px;
        z-index: 500;
    }

    & .slider3 {
        position: absolute;
        top: 600px;
        z-index: 500;
    }

    & .card {
        width: 250px;
        background-color: #141414;
        border-radius: 4px;
        transition: 0.2s linear;
        margin: 3px;
        position: relative;
    }


    & .card:hover {
        transform: scaleX(1.4) scaleY(1.4);
        z-index: 10;
    }


    & .card-body {
        display: none;
        padding: 10px 15px;
        position: absolute;
        background-color: #141414;
        top: 120px;
        width: 100%;
    }


    & .card-icon {
        color: $Primary;
        padding: 0px;
        font-size: 28px;
        border-radius: 50%;
        cursor: pointer;
    }

    & .card:hover>.card-body {
        display: block;
    }

    & .tab-change-btn {
        border: none;
        width: 30px;
    }


    & .margin-right {
        margin-right: 100px;
    }

    & .netflix-card-text {
        font-size: 12px;
    }

    & .position-slider2 {
        top: 10px;
    }

    & .margin-title2 {
        margin-top: 33px;
    }

    & .position-slider3 {
        top: 10px;
    }

}




.footer {
    margin-top: 150px;
    margin-bottom: 100px;

    & ul {
        list-style: none;
        font-size: 15px;
        color: rgba(255, 255, 255, 0.367);
        font-weight: 100;
    }


    & .service-btn {
        background-color: transparent;
        margin-left: 30px;
        color: rgba(255, 255, 255, 0.367);
        border: 1px solid rgba(255, 255, 255, 0.367);
        font-size: 15px;
        font-weight: 100;
    }

    & .copy-right {
        font-size: 15px;
        font-weight: 200;
        margin-left: 28px;
    }

    & .copy-right-p {
        font-size: 15px;
        font-weight: 100;
        color: rgba(255, 255, 255, 0.367);
        margin-top: 30px;
        margin-left: 130px;
    }

    & .footer-icons {
        color: rgba(255, 255, 255, 0.367);
        cursor: pointer;
        margin-left: 140px;
    }
}



@media screen and (min-width: 500px) and (max-width: 960px) {

    .header {
        .netflix-padding-left {
            padding-left: 10px;
        }


        .netflix-padding-right {
            padding-right: 10px;
        }

        .navbar-brand img {
            width: 43px;
        }

        .navbar {
            padding-top: unset;
            padding-bottom: unset;
        }

        i {
            font-size: 12px;
            cursor: pointer;
            padding: 5px;
        }

        .netflix-profile {
            margin-left: 5px;
        }

        .netflix-dropdown-box {
            display: block;
        }

        .netflix-nav {
            display: none;
        }

        .slider {
            top: 250px;
            margin-left: 0px;
        }

        .card {
            width: 150px;
        }

        .margin-right {
            margin-right: unset;
        }

        .card-icon {
            font-size: 17px;
        }

        .card-body {
            top: 80px;
        }

        .netflix-card-text {
            font-size: 8px;
        }

        .position-slider2 {
            top: 0px;
        }

        .margin-title {
            margin-top: 100px;
        }

        .margin-title2 {
            margin-top: 14px;
        }

        .copy-right {

            margin-left: 0px;
        }
    }

}


/* Login Page*/

.contenitoreLogin {
    background-image: linear-gradient(rgba(0, 0, 0, 0.491), rgba(0, 0, 0, 0.416)), url(../Netflix-assets/assets/login-bg.jpeg);
    height: 100vh;
}

.login-top {
    width: 100vw;
    height: 70px;
    background-color: rgba(0, 0, 0, 0);
    padding: 0px 20px;
    display: flex;
    align-items: center;
}

.login-top img {
    width: 150px;
}


.login-box {
    background-color: rgba(0, 0, 0, 0.899);
    width: 430px;
    height: 630px;
    border-radius: 5px;
    padding: 50px;
}

.small-text {
    font-size: 13px;
}

.form-control {
    box-shadow: none;
}


/* Profile Page*/

.contenitoreProfile {
    padding: 20px;
    border-radius: 10px;
    margin-top: 50px;
    height: 100vh;
    background-color: #141414;
    color: white;
}

.container-md {
    padding: 20px;
    width: 50%;
    margin: 0 auto;
}

hr {
    background-color: #333333;
    height: 2px;
}

.form-check-input-profile[type=checkbox] {
    border-radius: 0;
    width: 2em;
    height: 2em;
}

.col-md-4 img {
    max-width: 150px;
}

.btn{
    border-radius: 0;
}

.titles{
    color: #CCC6CC;
}

.bottone-grande{
    width: 100%;
    text-align: left;
}

.bottone-medio{
    background-color: #333333;
    margin-bottom: 8px;
    border: none;
    font-weight: bold;
}

.bottone-piccolo{
    width: 80px;
    height: 35px;
}

.bottoni-ultimi:hover{
    background-color: white;
    color: #141414;
    font-weight: bold;
}

.bottoni-ultimi{
    margin: 10px;
    margin-top: 0;
    width: 30%;
}

.bottoni-ultimi-3{
    margin: 10px;
    margin-top: 0;
    width: 100%;
}

.bottoni-ultimi-3:hover{
    background-color: white;
    color: #141414;
    font-weight: bold;
}
.test{
    font-size: 15px;
    margin-top: 5px
}