.centro-alto{
    text-align: center;
    margin:0;
}

.centro{
    text-align: center;
    margin: 0%;
}

.parte-superiore{
    margin: 0%;
    text-align: center;
}
.centro-basso{
    text-align: center;
    margin: 0%;
}
.parte-inferiore{
    text-align: center;
    margin: 0%;
}