.centro-alto{
    text-align: center;
    margin:0;
}

.centro{
    text-align: center;
    margin: 0%;
}

.parte-superiore{
    margin: 0%;
    text-align: center;
}
.centro-basso{
    text-align: center;
    margin: 0%;
}
.parte-inferiore{
    text-align: center;
    margin: 0%;
}

#titolo-header{
    background-color:#fff9e9;
    color: #088495;
    border-top: orange;
    border-top: 1px solid orange;
}

.colori-testo p{
    color: #f26257;
}

.colori-a a{
    color: #6bbeca;
}

.border-color{
    border-bottom: #6bbeca;
    border-bottom: 1px solid #6bbeca ;
}