*{
    background-color: blanchedalmond;
}


.tabellone {
  display: grid;
  grid-template-columns: repeat(9, 50px);
  gap: 5px;
}

.tabellina{
  display: grid;
  grid-template-columns: repeat(6, 50px);
  gap: 5px;
} 


.cella {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2em;
  cursor: pointer;
}

  .estratto {
    background-color: red; 
  }

  button{
    padding: 25px;
    background-color: burlywood;
    border: none;
    margin: 20px 10px;
    cursor: pointer;
  }

  h1, h2{
    padding: 10px;
    font-size: 50px;
    font-family:"Gill Sans", sans-serif ;
    color: brown;
  }

  label{
    font-family:"Gill Sans", sans-serif ;
    font-size: 20px;
  }