.login {
  background: url(../../../assets/background.jpg);
  height: 100vh;
}

h1 {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 70px;
  font-weight: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding-top: 350px;
}

.form{
  display: flex;
  justify-content: center;
}
