.loghi img {
  width: 350px;
  height: 300px;
  padding: 40px;
}

.logo img {
  width: 300px;
  height: 250px;
  margin-bottom: 20px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  margin-top: 50px;
  background-color: #D4B6E0;
}
