<div class="container">
  <div class="row logo">
    <img src="../../../assets/Img/logo.png" alt="logo pagina">
    <h2 class="text-center">Il tuo autosalone di fiducia</h2>
  </div>
  <div class="row">
    <h2 class="text-center">I nostri marchi</h2>
    <div class="d-flex align-items-center justify-content-center loghi">
      <a routerLink="/progetto/src/app/Pages/fiat"><img src="../../../assets/loghi/fiat logo.png" alt="logo fiat"></a>
      <a routerLink="/progetto/src/app/Pages/ford"><img src="../../../assets/loghi/ford.png" alt="logo ford"></a>
      <a routerLink="/progetto/src/app/Pages/audi"><img src="../../../assets/loghi/audi.png" alt="logo audi"></a>
    </div>
    <hr>
  </div>
</div>

