/* IMPOSTAZIONI GENERALI */
* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

#body {
    margin: 15px;
    background-image: url(../img/sfondo.png);
    
}

#background {
    background-image: cover;
}
/* HEADER */
#header {
    text-align: center;
    padding: top 10px;
    padding-bottom: 10px;
    background: radial-gradient(circle, rgba(0, 120, 203, 1) 0%, rgba(1, 118, 119, 1) 100%);
    margin: 10px 5px 10px 5px;
    color: #fff;
    
}

.menù a {
    color: white;
}


#logo {
    padding-top: 10px;
    padding-bottom: 15px;
    image-rendering: optimizeQuality;
}

/* MAIN */
#main {
   
    text-align: center;
    background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 100%);
    margin: 10px 5px 10px 5px;


}

/* ELEMENTI NEL MAIN - ARTICLE */
#grey {

    color: grey;
}

#grassetto-titolo {
    font-size: xx-large;
    font-weight: bold;

}



/* TABELLE */
.tabella-anni {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}

.corpo-tabella-anni{
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
    border-color: gray;
}

.liste{
    list-style-type: disc;
    padding-left: 15px;
}
.liste-ordinate{
    list-style-type: decimal;
}


/* FORM */

/* ELEMENTI NELL' ASIDE */

/* FOOTER */
#footer {
    background: radial-gradient(circle, rgba(0, 120, 203, 1) 0%, rgba(1, 118, 119, 1) 100%);
    text-align: center;
    color: white;
    margin: 10px 5px 10px 5px;
}