<footer class="footer">
  <div class="inner">
    <div class="column is-logo">
      <a href="#" class="main-logo">
        <div class="logo">
          <img src="../../../assets/Img/logo.png" alt="stackfindover">
        </div>
        <div class="logo-info">
          <div class="text">Auto-Rent</div>
          <span class="copyright">© 2024. Diritti Rivervati a Luigi Surio.</span>
        </div>
      </a>
    </div>
    <div class="column is-nav">
      <div class="column-title">Navigazione</div>
      <ul>
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/progetto/src/app/Pages/fiat">Fiat</a></li>
        <li><a routerLink="/progetto/src/app/Pages/ford">Ford</a></li>
        <li><a routerLink="/progetto/src/app/Pages/audi">Audi</a></li>
      </ul>
    </div>
    <div class="column is-nav">
      <div class="column-title">Contatti</div>
      <ul>
        <li><a href="#">luigisurio1&#64;gmail.com</a></li>
        <li><a href="#">luigisurio_</a></li>
        <li><a href="#">Linkedin</a></li>
      </ul>
    </div>
    <div class="column is-nav">
      <div class="column-title">Altro</div>
      <ul>
        <li><a href="#">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sed accusamus fugiat consectetur ullam
            quasi, odio animi nihil veritatis unde quisquam repellendus sequi, quod assumenda tempora autem, nemo
            voluptatum quam necessitatibus?</a></li>
      </ul>
    </div>
  </div>
</footer>
