@media print{

    body {
        background: white; 
    }

    #header, #footer, #aside, section {
        display: none; 
    }

    main {
        margin: 10px; 
    }

    article {
        page-break-inside: avoid; 
    }

    .container {
        page-break-inside: auto; 
    }

    iframe {
        display: none; 
    }

}
